@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center text-white">
    <h2>Тестовое задание</h2>
    <p class="text-justify">
        Необходимо реализовать полный набор CRUD-операций для базы данных клиентов.
        В качестве клиентов выступают юридические лица и индивидуальные предприниматели. Юридические лица могут иметь некоторое количество учредителей.
    </p>
</div>
