@{
    ViewData["Title"] = "Privacy Policy";
}
<h1 class="text-white">@ViewData["Title"]</h1>

<p class="text-white">Данная работа используется исключительно в оразовательных целях. Все материалы взяты из открытых источников сети "Интернет".</p>
